<html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <title>岗位列表</title>
      <link rel="shortcut icon" type="image/x-icon" href="http://www.lanxiangren.net/logo/text2.png">
    <link rel="apple-touch-icon-precomposed" href="http://www.lanxiangren.net/logo/text2.png">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="applicable-device" content="mobile">
</head>
<script type="text/javascript" src="http://www.w3school.com.cn/jquery/jquery.js"></script>
<script type="text/javascript">
            href = "href";img ="img";title="title"
        salary="salary";name="name";msg="msg"
    function fname(datas)
    { 
        var container =document.getElementById('fff');
        var node=container.nextSibling;
        var df = document.createDocumentFragment();
        for(var i = 0;i < datas.length;i++){
            var d = datas[i];
            var oDiv = document.createElement('li');
            oDiv.innerHTML = "<li class='item' ><a href='"+d[href]+
            "' ka='job_list_11' data-itemid='11' data-lid='12JnUn2xHwy.search' data-index='11'><img src='"+
            d[img]+"'><div class='text'><div class='title'><h4>"+d[title]+"</h4><span class='salary'>"+
            d[salary]+"</span></div><div class='name'>"+d[name]+"</div><div class='msg'><em>"+
            d["msg1"]+"</em><em>"+d["msg2"]+"</em><em>"+d["msg3"]+"</em></div></div></a></li>";
            df.appendChild(oDiv);
        }
        container.parentNode.insertBefore(df, node)
        node=oDiv.nextSibling;

    }

    $(document).ready(function(){
        $.ajax({
            url: "/api/jobs/",//后台提供的接口
            type: "get",   //请求方式是post
            success: function (data) {   //成功时返回的data值，注意这个data是后台返回的值，上面的data是你要传给后台的值
                fname(data)
            }
        });
}
        )
</script>

<body>

<div id="wrap">
<div id="header">
        <div class="serach-bar">
            <div class="top-search">
                <form action="/job_detail/" method="get">
                    <input name="city" value="101020100" type="hidden">
                    <input name="source" value="10" type="hidden">
                    <p class="ipt-wrap">
                        <a href="/" class="icon-home"><img src="https://static.zhipin.com/zhipin/v85/h5/wap/images/icon-home.png"></a>
                      
                    </p>
                </form>
           
            </div>
        <div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="overflow: hidden; pointer-events: none; transform: translateZ(0px); transition-duration: 0ms; opacity: 0;"><div class="iScrollIndicator" style="transition-duration: 0ms; display: none; height: 8px; transform: translate(0px, -8px) translateZ(0px); transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);"></div></div></div>
    </div>
    <div id="header">
        <div class="serach-bar">
            <div class="top-search">
                <form action="/job_detail/" method="get">
                    <input name="city" value="101020100" type="hidden">
                    <input name="source" value="10" type="hidden">
                    
                </form>
                
    <div id="main">
        
                <div class="job-list" data-filter="" data-keyword="Java" data-l3code="100101" data-rescount="0" data-page="1" data-source="">
                    <ul id = "ddd">
                        <li id ="fff"></li>



                    
                    </ul>

                    <div class="loadmore" data-url="/mobile/jobs.json" ka="more-jobs" data-page="1" data-hasmore="true">更多岗位 随时更新</div>
                </div>
            
            
        
        
    </div>
    
</div>



<input type="hidden" id="page_key_name" value="m_job_list">



</body></html>