<html><head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <title>上海Java招聘_2018年上海Java最新人才招聘信息-BOSS直聘</title>
    <meta name="keywords" content="上海Java招聘,上海Java人才网,上海Java招聘网">
    <meta name="description" content="BOSS直聘为求职者提供2018年最新的上海Java招聘信息，百万Boss在线直聘，直接开聊，在线面试，找工作就上BOSS直聘网站或APP，直接与Boss开聊吧！">
    <link rel="shortcut icon" type="image/x-icon" href="https://static.zhipin.com/zhipin/v85/h5/wap/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="https://static.zhipin.com/zhipin/v85/h5/wap/images/screen-icon.png">
    <link rel="stylesheet" type="text/css" href="https://static.zhipin.com/zhipin/v85/h5/wap/css/main.css">
    <meta name="applicable-device" content="mobile">
</head>
<script type="text/javascript" src="http://www.w3school.com.cn/jquery/jquery.js"></script>
<script type="text/javascript">
            href = "href";img ="img";title="title"
        salary="salary";name="name";msg="msg"
    function fname(row0)
    { 
         var container =document.getElementById('fff');
        var node=container.nextSibling;

        oDiv = document.createElement('li');
        oDiv.innerHTML = "<li class='item'><a href='"+row0[href]+"' ka='job_list_11' data-itemid='11' data-lid='12JnUn2xHwy.search' data-index='11'><img src='"+row0[img]+"'><div class='text'><div class='title'><h4>"+row0[title]+"</h4><span class='salary'>"+row0[salary]+"</span></div><div class='name'>"+row0[name]+"</div><div class='msg'><em>"+row0[msg][0]+"</em><em>"+row0[msg][1]+"</em><em>"+row0[msg][2]+"</em></div></div></a></li>";

        container.parentNode.insertBefore(oDiv, node)
        node=oDiv.nextSibling;

    }
    

    $(document).ready(function(){
        
    
        var list1 = []
            
            var row0 = {
                href:"http://www.lanxiangren.net",
                img:"https://img.bosszhipin.com/beijin/mcs/chatphoto/20160729/ad214a87c933979d174a1f8c807c4c74f2dd147a327b768bc97bb24014dbbd92_s.jpg?x-oss-process=image/resize,w_120,limit_0",
                title:"Java",
                salary:"13k-18k",
                name:"探存科技",
                msg:["上海","3-5年","本科"]

            };
              var row1 = {
                href:"http://www.lanxiangren.net",
                img:"https://img.bosszhipin.com/beijin/mcs/chatphoto/20160729/ad214a87c933979d174a1f8c807c4c74f2dd147a327b768bc97bb24014dbbd92_s.jpg?x-oss-process=image/resize,w_120,limit_0",
                title:"Java2",
                salary:"13k-18k2",
                name:"探存科技2",
                msg:["上海","3-5年","本科"]

            };
            list1[0]=row0
            list1[1]=row1
            fname(row0)
       

}
        )
</script>

<body>

<div id="wrap">
<div id="header">
        <div class="serach-bar">
            <div class="top-search">
                <form action="/job_detail/" method="get">
                    <input name="city" value="101020100" type="hidden">
                    <input name="source" value="10" type="hidden">
                    <p class="ipt-wrap">
                        <a href="/" class="icon-home"><img src="https://static.zhipin.com/zhipin/v85/h5/wap/images/icon-home.png"></a>
                      
                    </p>
                </form>
           
            </div>
        <div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="overflow: hidden; pointer-events: none; transform: translateZ(0px); transition-duration: 0ms; opacity: 0;"><div class="iScrollIndicator" style="transition-duration: 0ms; display: none; height: 8px; transform: translate(0px, -8px) translateZ(0px); transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);"></div></div></div>
    </div>
    <div id="header">
        <div class="serach-bar">
            <div class="top-search">
                <form action="/job_detail/" method="get">
                    <input name="city" value="101020100" type="hidden">
                    <input name="source" value="10" type="hidden">
                    
                </form>
                
    <div id="main">
        
                <div class="job-list" data-filter="" data-keyword="Java" data-l3code="100101" data-rescount="0" data-page="1" data-source="">
                    <ul id = "ddd">
                        <li id ="fff"></li>
                        <li class="item">
                            <a href="/job_detail/ba0f5ba13f7e2bb91XF-2d25E1A~.html" ka="job_list_1" data-itemid="1" data-lid="12JnUn2xHwy.search" data-index="1">   
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170518/650e0814f17e658bce76cc6f2ccb12af8f3f640a8cf2fca510f13c4d2d36e7a3_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java</h4><span class="salary">13k-19k</span></div>
                                    <div class="name">华钦科技</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/c0262ffd352428d61XF53dW8FFE~.html" ka="job_list_2" data-itemid="2" data-lid="12JnUn2xHwy.search" data-index="2">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170816/e631c3031bb29718ef6a497f916c64036c7ca107d8efe31a0b00bdf7274c5343_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>java工程师</h4><span class="salary">10k-15k</span></div>
                                    <div class="name">广电运通信息</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/9e2e669f92553b811nR-0t-5F1Q~.html" ka="job_list_3" data-itemid="3" data-lid="12JnUn2xHwy.search" data-index="3">  
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20160729/ad214a87c933979d174a1f8c807c4c74f2dd147a327b768bc97bb24014dbbd92_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java</h4><span class="salary">13k-18k</span></div>
                                    <div class="name">歌者盟</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/02a5694ec0f1cea31XF53dm1EVA~.html" ka="job_list_4" data-itemid="4" data-lid="12JnUn2xHwy.search" data-index="4">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180420/711c86f3aac8aae373ca6ea96a8b7d82cfcd208495d565ef66e7dff9f98764da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java高级开发工程师</h4><span class="salary">12k-15k</span></div>
                                    <div class="name">优方科技</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/c6eb7df38fce2a501Xdz2tS_EFY~.html" ka="job_list_5" data-itemid="5" data-lid="12JnUn2xHwy.search" data-index="5">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/bar/brand/109.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>19332-上海企点java开发工程师</h4><span class="salary">17k-33k</span></div>
                                    <div class="name">腾讯</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/daa513d69d271c531XF539q7FFc~.html" ka="job_list_6" data-itemid="6" data-lid="12JnUn2xHwy.search" data-index="6">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180502/66c9c31476459ba12ea5fefada712900cfcd208495d565ef66e7dff9f98764da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>JAVA开发</h4><span class="salary">13k-16k</span></div>
                                    <div class="name">雁联技术</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/39f271e6560eac5d1XF409q-ElA~.html" ka="job_list_7" data-itemid="7" data-lid="12JnUn2xHwy.search" data-index="7">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170210/093080ab4219f1984a4dbd33532dfdae41380af8553dba5a5f416a765e8ff8da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java</h4><span class="salary">16k-30k</span></div>
                                    <div class="name">掌门1对1</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/8d8ec9c2e06f19ad0HV939u1GA~~.html" ka="job_list_8" data-itemid="8" data-lid="12JnUn2xHwy.search" data-index="8">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/images/image8e8b992f13d57ef89e7cb24d3b2c2b8d-2289bd2ad57bfd1aA_zWDXs0DhIOlQ~~?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java中级开发人员</h4><span class="salary">13k-25k</span></div>
                                    <div class="name">中国东方航空信息部</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/65115ee43a1f51a11XZ83di0FFc~.html" ka="job_list_9" data-itemid="9" data-lid="12JnUn2xHwy.search" data-index="9">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180223/ab30c9f6bae744dd7fb5a646461767652fe41a748072e238ba5544ff0b6eca02_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>高级/资深Java开发</h4><span class="salary">17k-34k</span></div>
                                    <div class="name">哈罗单车</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/a17d434a9cc1c7551XF409-0FFA~.html" ka="job_list_10" data-itemid="10" data-lid="12JnUn2xHwy.search" data-index="10">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170324/bb7163b80d64a5ba35bc4c141e775efb466972a7c322c03090246ca0aa1ee6e8_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java开发(航旅)</h4><span class="salary">14k-26k</span></div>
                                    <div class="name">平安付</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/7c6c56ec4fd8f3131XF53t65GVM~.html" ka="job_list_11" data-itemid="11" data-lid="12JnUn2xHwy.search" data-index="11">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170511/01cffeae9ae085cd72671de06e7aaffd3356a590b5e74e89fd36406cda6e6a34_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>高级java工程师</h4><span class="salary">13k-16k</span></div>
                                    <div class="name">上海觅之信息技术</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/1e7050ec0e8ed3d71nJ93925EVM~.html" ka="job_list_12" data-itemid="12" data-lid="12JnUn2xHwy.search" data-index="12">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170612/24b36935a29bff9c5c81a3ea182805ae05aa2250f2456f7dfd6cac1611b8e400_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>高级java开发工程师</h4><span class="salary">15k-25k</span></div>
                                    <div class="name">怪兽充电</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/e9833f9ebb39f95e1XF73NS4Elo~.html" ka="job_list_13" data-itemid="13" data-lid="12JnUn2xHwy.search" data-index="13">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170809/3a6aa85f3858444c2c8b86ad3057712ea230b9d0c72708e645e60cb09c978d6f_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java中级工程师</h4><span class="salary">10k-15k</span></div>
                                    <div class="name">上海观谷</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/ac85b21c672bdac01XR40tW_E1c~.html" ka="job_list_14" data-itemid="14" data-lid="12JnUn2xHwy.search" data-index="14">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20160614/4f03bcef0dc6b4a4abce5fe425c06351a913d92db28697eac97819731866a743_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java高级开发工程师</h4><span class="salary">14k-20k</span></div>
                                    <div class="name">北明软件</div>
                                    <div class="msg"><em>上海</em><em>5-10年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/af895d9f87a70b561XVz3dW-GFE~.html" ka="job_list_15" data-itemid="15" data-lid="12JnUn2xHwy.search" data-index="15">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20160508/e8f5758fd2eb57b0f23610ac79217097d6084986872ea1902382dda1d0aef4cc_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java</h4><span class="salary">13k-18k</span></div>
                                    <div class="name">万达信息</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/d75bafbc8a1258c41XF-2N6-E1I~.html" ka="job_list_16" data-itemid="16" data-lid="12JnUn2xHwy.search" data-index="16">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/images/image1e25c92b2c0861c0a4c1ac24811431de-23e14ff85d0b0bf5DsPFD1QGyfrV3MzhBg~~?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>后端JAVA开发工程师</h4><span class="salary">15k-18k</span></div>
                                    <div class="name">量之阵</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/b9d2dabaa9bbf3781Xd_3dq-GFo~.html" ka="job_list_17" data-itemid="17" data-lid="12JnUn2xHwy.search" data-index="17">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170210/093080ab4219f1984a4dbd33532dfdae41380af8553dba5a5f416a765e8ff8da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>高级Java开发工程师</h4><span class="salary">15k-30k</span></div>
                                    <div class="name">掌门1对1</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/a47d5521952703df1Xd43tq1Flo~.html" ka="job_list_18" data-itemid="18" data-lid="12JnUn2xHwy.search" data-index="18">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180706/a2427d53c1759f56613f7cf23ec2fd71cfcd208495d565ef66e7dff9f98764da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java开发工程师</h4><span class="salary">10k-20k</span></div>
                                    <div class="name">锐赏网络</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/f2a83fff51d9d5941XF509i8ElM~.html" ka="job_list_19" data-itemid="19" data-lid="12JnUn2xHwy.search" data-index="19">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20171108/6ba7fd9471658b8da5e096a8b5a3edffcfcd208495d565ef66e7dff9f98764da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java工程师</h4><span class="salary">12k-15k</span></div>
                                    <div class="name">寅客网络</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/1b24ecf2b4bf9c2d1Xdy0966ElY~.html" ka="job_list_20" data-itemid="20" data-lid="12JnUn2xHwy.search" data-index="20">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180301/a6f5310672ca63eaf8b8329db5f853529f16b32eced4d7f2565992300ce1d7a4_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java高级开发工程师</h4><span class="salary">15k-30k</span></div>
                                    <div class="name">TutorABC</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/361ff817b8a7607b1nN429-5GVA~.html" ka="job_list_21" data-itemid="21" data-lid="12JnUn2xHwy.search" data-index="21">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170612/24b36935a29bff9c5c81a3ea182805ae05aa2250f2456f7dfd6cac1611b8e400_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>JAVA工程师</h4><span class="salary">15k-20k</span></div>
                                    <div class="name">怪兽充电</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/c2498af3f652f9ac1XB83ti-FVQ~.html" ka="job_list_22" data-itemid="22" data-lid="12JnUn2xHwy.search" data-index="22">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170324/bb7163b80d64a5ba35bc4c141e775efb466972a7c322c03090246ca0aa1ee6e8_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java</h4><span class="salary">13k-26k</span></div>
                                    <div class="name">平安付</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/d744465184adb35c1XF42dm8Elo~.html" ka="job_list_23" data-itemid="23" data-lid="12JnUn2xHwy.search" data-index="23">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180411/489b57f7ab8734899f7a0eb222d2ca35cfcd208495d565ef66e7dff9f98764da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>高级JAVA工程师</h4><span class="salary">12k-15k</span></div>
                                    <div class="name">百维金科</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/2ae3fddc7fb6e4381XB-3dm0F1c~.html" ka="job_list_24" data-itemid="24" data-lid="12JnUn2xHwy.search" data-index="24">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180514/d5ef7283c5b68c6f55f1a8bfe14aea9ecfcd208495d565ef66e7dff9f98764da_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>高级java开发工程师</h4><span class="salary">10k-16k</span></div>
                                    <div class="name">商霸</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/6db1ac5033ccfecc1Xd-3968FVQ~.html" ka="job_list_25" data-itemid="25" data-lid="12JnUn2xHwy.search" data-index="25">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/images/image09747dd42388cdb019e7d4c0dda31de4-1184d2bb23dea5d1Dt_iDnApDhIOlQ~~?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>中高级Java开发工程师</h4><span class="salary">10k-20k</span></div>
                                    <div class="name">上海雨坤</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/d747d6e48bdbd2f21XF70tm0EVs~.html" ka="job_list_26" data-itemid="26" data-lid="12JnUn2xHwy.search" data-index="26">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20170426/42e8294c000853de49e9f0d744a9fe2f17febd12ae6dd40ff6d32e7f9223b59e_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>java开发</h4><span class="salary">10k-11k</span></div>
                                    <div class="name">南京融翼</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/de60673e21afa3421XF53ty-FFI~.html" ka="job_list_27" data-itemid="27" data-lid="12JnUn2xHwy.search" data-index="27">
                                
                                    
                                    
                                    
                                
                                <img src="https://img2.bosszhipin.com/mcs/chatphoto/20160309/2381afea9bca3cb7b12f4d74d9f167e6814a84e2fd8db35fc55045b3ced8dd8e_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java开发（银行项目）</h4><span class="salary">12k-18k</span></div>
                                    <div class="name">同方鼎欣</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/14bcab7f44d3d8b41XF53dW4GFA~.html" ka="job_list_28" data-itemid="28" data-lid="12JnUn2xHwy.search" data-index="28">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/bar/brand/6668.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>java开发工程师</h4><span class="salary">15k-25k</span></div>
                                    <div class="name">携程旅行网</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/fcd4b4693ad3b8d91Xd939q8EVc~.html" ka="job_list_29" data-itemid="29" data-lid="12JnUn2xHwy.search" data-index="29">
                                
                                    
                                    
                                    
                                
                                <img src="https://img2.bosszhipin.com/mcs/chatphoto/20160315/52af66abc9a3d8f925801bc600b661d311e70787b537cdf5b5a5f529238bc001_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>Java</h4><span class="salary">10k-18k</span></div>
                                    <div class="name">瑞友科技</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                        <li class="item">
                            <a href="/job_detail/f58873b2a197315b1XF72dq7FlQ~.html" ka="job_list_30" data-itemid="30" data-lid="12JnUn2xHwy.search" data-index="30">
                                
                                    
                                    
                                    
                                
                                <img src="https://img.bosszhipin.com/beijin/mcs/chatphoto/20180428/17c381aa0c3415a07b262b70130a563f1225fecca6ab2bcde6e2a7c63045377c_s.jpg?x-oss-process=image/resize,w_120,limit_0">
                                <div class="text">
                                    <div class="title"><h4>高级Java开发工程师</h4><span class="salary">14k-28k</span></div>
                                    <div class="name">壹钱包</div>
                                    <div class="msg"><em>上海</em><em>3-5年</em><em>本科</em></div>
                                </div>
                            </a>
                        </li>
                    
                    </ul>
                    

                    <div class="loadmore" data-url="/mobile/jobs.json" ka="more-jobs" data-page="1" data-hasmore="true">加载更多</div>
                </div>
            
            
        
        
    </div>
    
</div>



<input type="hidden" id="page_key_name" value="m_job_list">


<script>
	function get_share_datas_from_html_inapp() {
		var shid = "shdefault",
			urlShid,
			urlSid,
			pk = "pkdefault",
			pp = "ppdefault",
			pkn = (typeof _PK != 'undefined' ? _PK : document.getElementById("page_key_name")),
			getQueryString = function(name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"),
					r = window.location.search.substr(1).match(reg);
				if (r != null) {
					return unescape(r[2])
				}
				return null;
			};
		urlShid = getQueryString("shid");
		urlSid = getQueryString("sid");
		if (urlShid) {
			shid = urlShid;
		} else if (urlSid) {
			shid = urlSid;
		}
		if (pkn) {
			var pknVal = pkn.value;
			if (pknVal) {
				var pkArray = pknVal.split("|");
				if (pkArray.length == 1) {
					pk = pkArray[0];
				} else if (pkArray.length >= 2) {
					pk = pkArray[0];
					pp = pkArray[1];
				}
			}
		}
		var ret = [];
		ret["shid"] = shid;
		ret["pk"] = pk;
		ret["pp"] = pp;
		return ret;
	}
	function getQueryString(name)
	{
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null)return  unescape(r[2]); return null;
	}
</script>
<script>
	var _T = _T || [];
	(function() {
	  var script = document.createElement("script");
	  script.src = "https://static.zhipin.com/library/js/analytics/ka.js";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(script, s);
	})();
	
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?194df3105ad7148dcf2b98a91b5e727a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script>
    (function() {
        var script = document.createElement("script");
        script.src = "//msite.baidu.com/sdk/c.js?appid=1577306673678376";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(script, s);
    })();
</script>


</body></html>