<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BOSSֱƸ</title>
     <link rel="stylesheet" type="text/css" href="/static/css/account.css">
</head><body class="page-account">
<div id="wrap">
    <div id="main">
        <div id="container">
            <div class="account-container">
                <div class="set-nav">
                    <ul>

                        <li ka="account_pwd" data-url="/boss/account/password.json" class="cur">变更密码</li>
                        
                    </ul>
                </div>
                <div class="set-content"><form action="/user/update/password.json" class="account-form password-form">
    <input type="hidden" name="token" value="mGHYLJ0rQhPBopl">
    <div class="form-row">
        <div class="t">用户名</div>
        <div class="c"><span class="text-old gray">189****7375</span></div>
    </div>

        <div class="form-row">
            <div class="t">旧密码</div>
            <div class="c">
                <span class="ipt-wrap"><input type="password" name="oldPassword" class="ipt required" placeholder="请输入旧密码"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="t">新密码</div>
            <div class="c">
                <span class="ipt-wrap"><input type="password" name="newPassword" class="ipt required" placeholder="请输入新密码"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="t">确定新密码</div>
            <div class="c">
                <span class="ipt-wrap"><input type="password" class="ipt ipt-repassword required"placeholder="请再输入一次新密码"></span>
            </div>
        </div>
        <div class="form-btn">
            <div class="btns"><button type="submit" class="btn" ka="pwd_change_sure">修改密码</button></div>
        </div>
</form></div>
            </div>
        </div>
    </div>
</div>


</body></html>